.hova {
    background-color: lightblue;
}

.click-hova {
    background-color: pink;
}


.select-panel {
    background: transparent;
    background-color: white !important;
    border: none;
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 50px;
    width: 620px;
}

.bagpipe-scrape-inject{
    display: none;
}


.navigator-container{
    position: fixed;
    top:0;
    z-index: 999999 !important;
    background: #fff;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 0.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.attr-outer, #attr-con {
    /* display: flex; */
    align-items: center;    
    height: 100%;
}

#attr-con {
    justify-content: start;
    /* overflow-x: auto; */
    overflow-y: auto;
    /* width: 500px; */
}

.selected-attr {
    display: block;
}

.attr-outer {
    display: block;
    align-self: center
}

.attr-input {
    margin: 1px;
    border-style: groove;
}

/* CSS */
.bp-result-button {
  align-items: right;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-left: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.bp-guide{
    display:inline-block;
    color: #c85000;
    font-size: 16px;
}