.hova {
    background-color: pink;
}

.navigator-container{
    position: fixed;
    z-index: 999999 !important;
    background: #fff;
    width: 100%;

    display: flex;
    justify-content: center;
}

.attr-outer, #attr-con {
    /* display: flex; */
    align-items: center;    
    height: 100%;
}

#attr-con {
    justify-content: start;
    /* overflow-x: auto; */
    overflow-y: auto;
}